# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite
*.sqlite3

# Archivos de configuración sensible
.env
settings/local.py

# Archivos de IDE
.vscode/
.idea/

# Otros
*.log
*.pot
*.db
Transmedina/settings.py
