{% extends 'layout/base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form id="createMototaxiForm" action="{% url 'create_mototaxi' %}" method="POST" class="card card-body" novalidate>

                <h1>Crear Mototaxi</h1>

                {% if request.GET.success %}
                    <p class="alert alert-success">Mototaxi creado con éxito.</p>
                {% endif %}
                {% if error %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endif %}

                {% csrf_token %}

                <!-- Campo placa_mototaxi -->
                <div class="mb-3">
                    <label for="placa_mototaxi">Placa del Mototaxi:</label>
                    <input type="text" name="placa_mototaxi" id="placa_mototaxi" class="form-control {% if form.placa_mototaxi.errors %}is-invalid{% endif %}" placeholder="ABCDEF" aria-describedby="placaHelp" maxlength="6">

                    <div id="placaHelp" class="form-text">
                        Ingrese la placa del mototaxi tal como aparece en el documento de registro.
                    </div>

                    <div class="invalid-feedback">
                        {% if form.placa_mototaxi.errors %}
                            {{ form.placa_mototaxi.errors|join:", " }}
                        {% else %}
                            La placa debe tener solo letras mayúsculas (máx. 6).
                        {% endif %}
                    </div>
                </div>

                <!-- Campo modelo -->
                <div class="mb-3">
                    <label for="modelo">Modelo:</label>
                    <input type="text" name="modelo" id="modelo" class="form-control {% if form.nombre.errors %}is-invalid{% endif %}" placeholder="Ejemplo: 2020" aria-describedby="modeloHelp" >

                    <div id="modeloHelp" class="form-text">
                        Ingrese el modelo del auto.
                    </div>

                    <div class="invalid-feedback">
                        El modelo debe estar entre 2000 y 2025.
                    </div>

                </div>

                <!-- Campo Marca -->
                <div class="mb-3">
                    <label for="marca">Marca:</label>
                    <input type="text" name="marca" id="marca" class="form-control {% if form.apellido.errors %}is-invalid{% endif %}" placeholder="Ejemplo: Honda" aria-describedby="marcaHelp">

                    <div id="marcaHelp" class="form-text">
                        Ingrese la marca del mototaxi.
                    </div>

                    <div class="invalid-feedback">
                        Por favor, ingrese la marca.
                    </div>

                </div>

                <div>
                <button type="submit" class="btn btn-primary">
                    Guardar Mototaxi
                </button>

                <a href="{% url 'mototaxis' %}" class="btn btn-secondary">
                    Regresar al inicio
                </a>
                </div>

            </form>
        </div>
    </div>
</main>

<!-- JavaScript para la validación -->
<script>
    document.getElementById("createMototaxiForm").addEventListener("submit", function(event) {
        let form = this;
        let isValid = true;

        // Recorrer todos los campos requeridos y verificar si están llenos
        form.querySelectorAll("input").forEach(function(input) {
            if (input.value.trim() === "") {
                isValid = false;
                input.classList.add("is-invalid");  // Añadir clase para mostrar error
            } else {
                input.classList.remove("is-invalid");  // Remover clase si está correcto
            }
        });

        // Si hay algún campo vacío, detener el envío del formulario
        if (!isValid) {
            event.preventDefault();
        }
    });
</script>

<!-- JavaScript para la validación tiempo real -->
 <Script>
    document.addEventListener("DOMContentLoaded", function() {
        const modeloInput = document.getElementById("modelo");

        modeloInput.addEventListener("input", function () {
            const valor = parseInt (modeloInput.value);
            const anioActual = new Date().getFullYear();

            if (valor < 2000 || valor > anioActual) {
                modeloInput.classList.add("is-invalid");
                modeloInput.classList.remove("is-valid");
            } else {
                modeloInput.classList.remove("is-invalid"); 
                modeloInput.classList.remove("is-valid");
            }
        })

    })

    </Script>

    <Script>
        document.addEventListener("DOMContentLoaded", function () {
            const placaInput = document.getElementById("placa_mototaxi");

            placaInput.addEventListener("input" , function (){
                const valor = placaInput.value;
                const regex = /^[A-Z0-9]{1,6}$/; // Formato: AAA-123

                placaInput.value = valor.toUpperCase();

                if (!regex.test (placaInput.value)) {
                    placaInput.classList.add("is-invalid");
                    placaInput.classList.remove("is-valid");
                } else {
                    placaInput.classList.remove("is-invalid"); 
                    placaInput.classList.add("is-valid");
                }
            })
        })


    </Script>




{% endblock %} 