{% extends 'base.html' %}

{% block content %}

<h1>Listado de Conductores</h1>

<main class="container">
    <div class="row">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th> <!-- Nueva columna para el contador -->
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Placa de Mototaxi</th>
                </tr>
            </thead>
            <tbody>
                {% for conductor in lista_conductores %}
                <tr>
                    <th scope="row">{{forloop.counter}}.</th>
                    <td>{{ conductor.cedula }}</td>
                    <td>{{ conductor.nombre }}</td>
                    <td>{{ conductor.apellido }}</td>
                    <td>{{ conductor.usuario }}</td>
                    <td>{{ conductor.correo }}</td>
                    <td>{{ conductor.placa_mototaxi }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>



{% endblock %}