{% extends 'layout/base.html' %}

{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h1>Bienvenido a Transmedina</h1>
                </div>
                <div class="card-body">
                    <p class="lead">
                        La plataforma integral para la gestión de conductores y mototaxis. Aquí, los administradores pueden crear y gestionar perfiles de conductores y vehículos, además de registrar novedades para mantener un control sobre el estado y las reparaciones de cada unidad.
                    </p>
                    <p class="lead">
                        Los conductores, a su vez, tienen acceso para reportar novedades de sus mototaxis y actualizar su propia información de manera ágil y segura. Con <strong>Transmedina</strong>, optimizamos la administración y garantizamos que los vehículos estén siempre en las mejores condiciones.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
