{% extends 'layout/base.html' %}

{% block content %}
<div class="row">
    <div class="col-2 p-0">
        {% include 'layout/control_panel.html' %}
    </div>
    <div class="col-10 offset-2">
        <!-- Verificar si el usuario es admin para mostrar la vista de gestion del Conductor -->
        {% if is_admin %}
        {% csrf_token %}



        <main class="container">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Conductores</h1>
                    <div class="row">
                        <table class="table mt-5">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Cédula</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Placa de Mototaxi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for conductor in page_obj %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}.</th>
                                    <td><a href="{% url 'conductor_detail' conductor.cedula %}">{{ conductor.cedula }}</a></td>
                                    <td>{{ conductor.nombre }}</td>
                                    <td>{{ conductor.apellido }}</td>
                                    <td>{{ conductor.usuario }}</td>
                                    <td>{{ conductor.correo }}</td>
                                    <td>{{ conductor.mototaxi }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7">No hay conductores registrados.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% include "includes/pagination.html" %}
                    </div>   
                </div> 
            </div>     
        </main>       


        <main class="container">
            <div class="row mt-4">
                <!-- Primer bloque, columna 1 -->
                <div class="col-md-6 mb-2">
                    <div class="card w-100 h-100">
                        <div class="card-body">
                            <h5 class="card-title">Añadir Conductor</h5>
                            <p class="card-text">Aquí se puede añadir un nuevo conductor a la lista de conductores.</p>
                            <div class="d-grid gap-2">
                                <a href="create_conductor" class="btn btn-primary btn-lg">
                                    <svg width="16" height="16" fill="currentColor">
                                        <use xlink:href="/static/images/sprite.svg#icon-person-plus" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Segundo bloque, columna 2 -->
                <div class="col-md-6 mb-2">
                    <div class="card w-100 h-100">
                        <div class="card-body">
                            <h5 class="card-title">Modificar Conductor</h5>
                            <p class="card-text">Para editar o borrar un conductor, hacer click sobre su cédula.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        


        {% else %}
        <p>No tienes permiso para ver esta pagina.</p>
        {% endif %}
    </div>
</div>
{% endblock %}